In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv("/content/frude detection payments dataset.csv")

In [ ]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0.0,0.0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0.0,0.0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1.0,0.0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1.0,0.0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0.0,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409488 entries, 0 to 409487
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            409488 non-null  int64
 1   type            409488 non-null  object
 2   amount          409487 non-null  float64
 3   nameOrig        409487 non-null  object
 4   oldbalanceOrg   409487 non-null  float64
 5   newbalanceOrig  409487 non-null  float64
 6   nameDest        409487 non-null  object
 7   oldbalanceDest  409487 non-null  float64
 8   newbalanceDest  409487 non-null  float64
 9   isFraud         409487 non-null  float64
 10  isFlaggedFraud  409487 non-null  float64
dtypes: float64(7), int64(1), object(3)
memory usage: 34.4+ MB

In [ ]:
df['step'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18])

In [ ]:
df.isnull()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
409483,False,False,False,False,False,False,False,False,False,False,False
409484,False,False,False,False,False,False,False,False,False,False,False
409485,False,False,False,False,False,False,False,False,False,False,False
409486,False,False,False,False,False,False,False,False,False,False,False
409487,False,False,True,True,True,True,True,True,True,True,True

In [ ]:
df.isnull().sum()

step              0
type              0
amount            1
nameOrig          1
oldbalanceOrg     1
newbalanceOrig    1
nameDest          1
oldbalanceDest    1
newbalanceDest    1
isFraud           1
isFlaggedFraud    1
dtype: int64

In [ ]:
df.shape

(409488, 11)

In [ ]:
df['type'].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN', 'CASH_'],
      dtype=object)

In [ ]:
type=df['type'].value_counts()

In [ ]:
transaction=type.index

In [ ]:
quantity=type.values

In [ ]:
import plotly.express as px

In [ ]:
px.pie(df,values=quantity,names=transaction,hole=0.4,title="Distribution of transaction type")

In [ ]:
df=df.dropna()

In [ ]:
df.replace(to_replace=['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN',],value=[2,4,1,5,3],inplace=True)

In [ ]:
type

CASH_OUT    147466
PAYMENT     136704
CASH_IN      88583
TRANSFER     33801
DEBIT         2933
CASH_            1
Name: type, dtype: int64

In [ ]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,2,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0.0,0.0
1,1,2,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0.0,0.0
2,1,4,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1.0,0.0
3,1,1,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1.0,0.0
4,1,2,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
409482,18,3,135248.32,C1600193537,69801.48,205049.80,C1868347061,223353.55,88105.23,0.0,0.0
409483,18,3,105886.61,C1294445846,205049.80,310936.41,C903434282,3208188.76,3102302.15,0.0,0.0
409484,18,3,96042.39,C170195744,310936.41,406978.80,C912290293,3208951.46,3112909.07,0.0,0.0
409485,18,3,181968.70,C201374739,406978.80,588947.50,C835629074,894326.13,99469.28,0.0,0.0
409486,18,3,193063.93,C1528230046,588947.50,782011.43,C1786466588,738987.09,545923.16,0.0,0.0

In [ ]:
df['isFraud']=df['isFraud'].map({0:'No fraud',1:'fraud'})

In [ ]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,2,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,No fraud,0.0
1,1,2,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,No fraud,0.0
2,1,4,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,fraud,0.0
3,1,1,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,fraud,0.0
4,1,2,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,No fraud,0.0
...,...,...,...,...,...,...,...,...,...,...,...
409482,18,3,135248.32,C1600193537,69801.48,205049.80,C1868347061,223353.55,88105.23,No fraud,0.0
409483,18,3,105886.61,C1294445846,205049.80,310936.41,C903434282,3208188.76,3102302.15,No fraud,0.0
409484,18,3,96042.39,C170195744,310936.41,406978.80,C912290293,3208951.46,3112909.07,No fraud,0.0
409485,18,3,181968.70,C201374739,406978.80,588947.50,C835629074,894326.13,99469.28,No fraud,0.0
409486,18,3,193063.93,C1528230046,588947.50,782011.43,C1786466588,738987.09,545923.16,No fraud,0.0

In [ ]:
x=df[['type','amount','oldbalanceOrg','newbalanceOrig']]

In [ ]:
y=df.iloc[:,-2]

In [ ]:
y

0         No fraud
1         No fraud
2            fraud
3            fraud
4         No fraud
            ...
409482    No fraud
409483    No fraud
409484    No fraud
409485    No fraud
409486    No fraud
Name: isFraud, Length: 409487, dtype: object

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
model=DecisionTreeClassifier()

In [ ]:
x=df[['type','amount','oldbalanceOrg','newbalanceOrig']]

In [ ]:
y=df.iloc[:,-2]

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
model.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [ ]:
model.score(xtest,ytest)

0.9994261154118538

In [ ]:
model.predict([[2,9800,170136,160296]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning:

X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names

array(['No fraud'], dtype=object)

In [ ]:
x

        type     amount  oldbalanceOrg  newbalanceOrig
0          2    9839.64      170136.00       160296.36
1          2    1864.28       21249.00        19384.72
2          4     181.00         181.00            0.00
3          1     181.00         181.00            0.00
4          2   11668.14       41554.00        29885.86
...      ...        ...            ...             ...
409482     3  135248.32       69801.48       205049.80
409483     3  105886.61      205049.80       310936.41
409484     3   96042.39      310936.41       406978.80
409485     3  181968.70      406978.80       588947.50
409486     3  193063.93      588947.50       782011.43

[409487 rows x 4 columns]